<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<div>
		<a href="/cliente/listar">atrax</a>	
	</div>
    <table border="1">
        <thead>
            <tr>
            	<th>id</th>
	            <th>dni</th>
	            <th>nombre</th>
	            <th>apellido</th>
	            <th>razon social</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th-text="${cliente.cli_id}"></td>
                <td data-th-text="${cliente.cli_dni}"></td>
                <td data-th-text="${cliente.cli_nombre}"></td>
                <td data-th-text="${cliente.cli_apellido}"></td>
                <td data-th-text="${cliente.cli_razon_social}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>